*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background: #000000;
    background-position: center;
    background-size: auto;
    position: relative;
}
nav{
    display: flex;
    font-size: 50px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f5f5f5;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.text-box h1{
    text-align: left;
    margin-top: 7px;
    font-size: 40px;
}
.text-box h3{
    text-align: left;
}
.text-box p{
    text-align: left;
}
.text-box btn{
    text-align: left;
}
.text-box{
    background-image: url(images/home.jpg);
    margin: auto;
    text-align: center;
    padding-top: 50px;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.homeindex{
    background: transparent;
    margin: auto;
    width: 60%;
    background-origin: padding-box;
    float: left;
    padding-left: 5%;
    padding-top: 5%;
}
            /*----- Watch--------*/

.contain{
    color: rgb(8, 8, 8);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    margin: auto;
    text-align: center;
    width: 225px;
}
.hms{
    font-size: 28px;
    font-weight: 200;
}
.ampm{
    font-size: 12px;
}
.date{
    font-size: 12px;
}


/*--------------------------------MCQ----------------------------------*/


.mcq{
    background-image: url(images/mcq.jpg) ;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.que{
    text-align: left;
    background: transparent;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    border: 5px solid rgb(255, 255, 255,0.3);
}
               /*-------footer-----------*/

.footer{
    background-color: rgb(157, 184, 219);
    width: 100%;
    text-align: center;
    padding: 30px 0;
    size: 20px;
}






 

